.page-node-type-advanced-page
{
  .layout-main
  {
    padding: 0;
    margin: 0;
    max-width: none;
  }
  .block--default-page-title
  {
    max-width: 940px;
    margin: 100px auto 0 auto;
    padding: 0 25px;
  }
}

.paragraph--type--basic-content
{
  clear: both;
  margin: 100px 25px;

  & > div
  {
    max-width: 940px;
    margin: 0 auto;
  }
}

.paragraph--type--image-content
{
  clear: both;
  margin: 100px 25px;


  &:after
  {
    content: "";
    display: block;
    clear: both;
  }
  & > div
  {
    max-width: 1200px;
    margin: 0 auto;
  }
  .field--name-field-image
  {
    float: left;
    width: 40%;
    margin-right: 8%;

    &
    {
      @media (max-width: 640px)
      {
        float: none;
        margin: 0 auto 2em auto;
        width: 100%;
        max-width: 360px;
      }
    }

    img
    {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .field--name-field-body
  {
    float: left;
    width: 52%;

    &
    {
      @media (max-width: 640px)
      {
        float: none;
        margin: 0 auto;
        width: 100%;
        max-width: 480px;
      }
    }
  }
}
.paragraph--image-content--right
{
  .field--name-field-image
  {
    float: right;
    margin-right: 0;
    margin-left: 8%;

    &
    {
      @media (max-width: 640px)
      {
        float: none;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
  .field--name-field-body
  {
    float: left;

    &
    {
      @media (max-width: 640px)
      {
        float: none;
      }
    }
  }
}

.paragraph--type--content-with-background
{
  clear: both;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
  position: relative;
  box-sizing: border-box;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.55);

  &:after
  {
    content: "";
    display: block;
    clear: both;
  }

  &
  {
    @media (min-width: 760px) and (min-height: 800px)
    {
      min-height: 800px;
      min-height: 100vh;
    }
  }
  & > div
  {
    float: right;
    padding: 50px 25px;
    background: url(../images/bg-content-block.png) no-repeat center center;
    background-size: auto 100%;
    width: 100%;
    max-width: 670px;
    box-sizing: border-box;

    &
    {
      @media (min-width: 760px) and (min-height: 800px)
      {
        padding: 100px 70px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
  .field--name-field-body
  {
    &
    {
      @media (min-width: 760px) and (min-height: 800px)
      {
        position: absolute;
        left: 70px;
        right: 70px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }

    h2, h3, h4
    {
      color: white;
    }
    a
    {
      color: white;
    }
  }
}

.paragraph--type--webform
{
  clear: both;
  margin: 100px 25px;

  & > div
  {
    max-width: 940px;
    margin: 0 auto;
  }
}

.paragraph--type--basic-content,
.paragraph--type--image-content
{
  transition: opacity 1s;

  &.hide
  {
    opacity: 0;
  }
  &.show
  {
    opacity: 1;
  }
}
.paragraph--type--content-with-background
{
  &.hide .field--name-field-body
  {
    opacity: 0;
    transition: opacity 1s;
  }
  &.show .field--name-field-body
  {
    opacity: 1;
  }
}
.block--collapsible-image-content
{
  &.hide .block-content-container
  {
    opacity: 0;
    transition: opacity 1s;
  }
  &.show .block-content-container
  {
    opacity: 1;
  }
}
.block--image-content
{
  &.hide .block-content
  {
    opacity: 0;
    transition: opacity 1s;
  }
  &.show .block-content
  {
    opacity: 1;
  }
}
