.layout-main
{
  clear: both;
  padding: 100px 25px;
  margin: 0 auto;
  max-width: 960px;
}

.block--default-page-title
{
  .page-title
  {
    color: #03d0b6;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 3em;
    margin: 3em 25px 0.5em 25px;
  }
}
