a
{
  color: black;
  text-decoration: underline;
}

p
{
  margin-bottom: 1.5em;

  &:last-child
  {
    margin-bottom: 0;
  }
}

.layout-main
{
  ul, ol
  {
    margin-left: 30px;
    margin-bottom: 1.5em;
  }
  li
  {
    margin-bottom: 0.25em;
  }
  h2
  {
    color: #17a8a2;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 1.5em;
    font-size: 1.8em;
  }
  h3
  {
    color: #17a8a2;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 1.5em;
    font-size: 1.4em;
  }
  h3
  {
    color: #17a8a2;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 1.5em;
    font-size: 1em;
  }
}
