@font-face
{
  font-family: 'Acherus Grotesque';
  font-style: normal;
  font-weight: normal;
  src: local('Acherus Grotesque Regular'), url('../fonts/acherus-grotesque/acherus_grotesque_-_regular.woff') format('woff');
}
  
  
@font-face
{
  font-family: 'Acherus Grotesque';
  font-style: italic;
  font-weight: normal;
  src: local('Acherus Grotesque Regular Italic'), url('../fonts/acherus-grotesque/acherus_grotesque_-_regular_italic.woff') format('woff');
}

body
{
  font-family: 'Acherus Grotesque', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: black;
}
