input[type=text],
input[type=password],
input[type=email]
{
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  border: 1px solid #d8d8d8;
  height: 52px;
  line-height: 50px;
  padding: 0 24px;
  color: black;
  border-radius: 2px;
  -webkit-appearance: none;
  appearance: none;
}

textarea
{
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  border: 1px solid #d8d8d8;
  height: 120px;
  line-height: 1.2;
  padding: 12px 24px;
  color: black;
  border-radius: 2px;
  -webkit-appearance: none;
  appearance: none;
}

input[type=submit],
button[type=submit]
{
  color: white;
  background: black;
  text-transform: uppercase;
  padding: 12px 24px;
  display: inline-block;
  box-sizing: border-box;
  min-width: 140px;
  line-height: 1;
  font-size: 1.1em;
  max-width: 100%;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.button
{
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  min-width: 180px;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
  border: 2px solid white;
  border-radius: 0;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
  font-size: 1.15em;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
  transition: all 0.4s;

  &:hover,
  &:focus
  {
    background: white;
    color: #03d0b6 !important;
    text-shadow: none;
  }
}
.teal-button
{
  border-color: #03d0b6;
  color: #03d0b6;
  box-shadow: none;
  text-shadow: none;
  transition: all 0.4s;

  &:hover,
  &:focus
  {
    background: #03d0b6;
    color: white !important;
  }
}
