.node--work-sample--teaser
{
  float: left;
  width: 50%;
  padding-bottom: 30%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  transition: 1s background-size;

  &
  {
    @media (max-width: 720px)
    {
      float: none;
      width: 100%;
      padding-bottom: 60%;
    }
  }

  &:hover
  {
    background-size: 110% auto;
  }

  &:before
  {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.5;
  }

  & > a
  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    text-decoration: none;
  }
  .node__content
  {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    padding: 0 25px;
    box-sizing: border-box;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.55);
    line-height: 1;
  }
  .field--name-field-image img
  {
    display: inline-block;
    max-width: 75%;
    height: auto;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.55));
    margin-bottom: 1.5em;
  }
  .field--name-field-organization
  {
    margin-bottom: 0.25em;
  }
  .field--name-title
  {
    text-transform: uppercase;
    font-size: 1.6em;
  }
}

.view-work
{
  &:after
  {
    content: "";
    display: block;
    clear: both;
  }
}

.path-our-work
{
  .layout-main
  {
    max-width: none;
    padding: 0;
  }
}

.block--clients
{
  clear: both;
  padding: 100px 25px;

  & > div
  {
    max-width: 960px;
    margin: 0 auto;
  }
}

.block--clients
{
  h2
  {
    text-align: center;
  }
  &:after
  {
    content: "";
    display: block;
    clear: both;
  }
}
.view-clients
{
  .views-row
  {
    width: 20%;
    float: left;

    &:nth-child(5n + 1)
    {
      clear: left;
    }
    &
    {
      @media (max-width: 720px)
      {
        width: 50%;
        margin-bottom: 20px;

        &:nth-child(5n + 1)
        {
          clear: none;
        }
        &:nth-child(2n + 1)
        {
          clear: left;
        }
      }
    }
  }
  img
  {
    display: block;
    width: 80%;
    height: auto;
  }
}
